@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');
header{
    height: 10vh;
    margin: 0 0 0 0;
    position: relative;
    background-color: #674188;
    color: #FFFBF5;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 2.5px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
body{
    background-color: #C3ACD0;
}
p{
    margin: 20px 0 0 30px;
    font-size: medium;
    color: #FFFBF5;
}
.my-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-heading{
    display: inline;
    font-size: large;
}
.main-content{
    margin: 20px 0 0 20px;
}
.main-content input[type="text"]{
    outline: none;
    border: solid #674188;
    border-width: 0 0 2px 0;;
    color: #674188;
    background-color: #C3ACD0;
}
.main-content input[type="text"]::placeholder{
    color: #8c5cb5;
    letter-spacing: 2px;
    font-family: 'Noto Sans', sans-serif;;
    /* background-color: ; */
}
.main-content button{
    margin-left: 15px;
    background-color: #8c5cb5; 
    color: #F7EFE5;
    font-size: larger;
    border-width: 0px;
    border-radius: 3px;
}
/* .main-content button:focus{
    box-shadow: 2px 2px 2px #019db8;
} */
.my-list{
    display: inline;
}
form{
    display: inline;
}
.bodyContent{
    min-height: 85vh;
}
.addTaskHeader{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    color: #674188;
}
.main-content{
    margin: 20px 30vw 20px 30vw;
    min-height: 60vh;
    min-width: 40vw;
    border: #674188 2px solid;
    border-radius: 8px;
    padding: 20px;
}
.display-tasks{
    margin-top: 20px;
}
.display-tasks li{
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #674188;
}
.display-tasks li button{
    font-size: medium;
}